body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(41, 37, 37);
    font-family: 'Poppins', sans-serif;
}

.navCont {
    /* border: 2px solid rgb(0, 255, 51); */
    display: grid;
    grid-template-columns: 15% 83%;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.navCont>div:nth-child(1) {
    /* border: 2px solid rgb(6, 9, 186); */
    margin: auto;
    border-bottom: 2px solid white;
}

.navCont>div:nth-child(1)>img {
    margin-top: 10px;

}

.navCont>div:nth-child(2) {
    /* border: 2px solid rgb(13, 0, 255); */

}

#socilaguide {
    /* border: 2px solid rgb(118, 155, 8); */
    margin-left: 50px;
    padding: 20px;
}

#socilaguide>img {
    /* border: 2px solid red; */
    width: 30px;

}

#socilaguide>input {

    width: 90%;
    height: 40px;
    margin-left: 20px;
    border-radius: 5px;
    outline: none;
}

#socilaguide>input::placeholder {
    font-size: 18px;
}

.anchor>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}

.anchor span {
    background-color: red;
    padding: 10px;
}

.anchor>ul>a {
    text-decoration: none;
    list-style: none;
    margin: auto;

}

.anchor a {
    text-decoration: none;
    list-style: none;
    margin: auto;
    color: white;
    font-size: 20px;
}

.anchor a:hover {
    border-bottom: 4px solid white;
}

/* body cont start */

.contbody {
    background-color: white;
    width: 95%;
    margin: auto;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 75% 23%;
    gap: 10px;
}

#main {
    /* border: 2px solid red; */

}

#maindiv1 {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
    padding: 15px;
}

#maindiv1>div:nth-child(1)>img {
    width: 100%;
}

#maindiv1>div:nth-child(2) {
    margin-top: 65px;
}

#maindiv1>div:nth-child(2)>img {
    width: 74%;
}

/* right section */
#right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
    column-gap: 10px;
    /* border: 2px solid red; */
}

#right>div {
    display: flex;
    justify-content: space-evenly;

}

#right>div>img {
    width: 45%;
    border-radius: 5px;
}

#right>div>p {
    width: 45%;
    /* border: 2px solid red; */
    margin-top: 0px;
}

#right>h2 {
    margin-bottom: 0px;
    padding: 0px;
    margin-left: 5px;
}






/* fooetr section */

.footercont {
    display: grid;
    grid-template-columns: 40% 60%;
    grid: 20px;
    background-color: white;
    margin-top: 60px;

}

.leftfoot {
    /* border: 2px solid red; */
    /* margin: auto; */
}

.leftfoot>img {
    margin-top: 20px;
    margin-left: 40px;
}

.leftfoot>div>img {
    /* border: 2px solid red; */
    width: 35px;
    margin-top: 20px;
    margin-left: 40px;
}

.leftfoot p {
    /* border: 2px solid red; */
    width: 70%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 40px;
    padding: 20px;
}

.leftfoot p:hover {
    /* border: 2px solid red; */
    color: red;
    cursor: pointer;
}


.rigthfoot {
    /* border: 2px solid red; */
    margin-top: 30px;
}

.rigthfoot>div {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    /* border: 2px solid red; */

}

.rigthfoot>div h3,
p {

    padding: 2px;
    margin: 2px;
}

.rigthfoot a {

    text-decoration: none;
    color: rgb(53, 51, 51);
}

.rigthfoot a:hover {

    color: red;
}

.rigthfoot>div>p {
    padding-left: 30px;
}

#guidecopy {
    text-align: center;
    /* border: 2px solid red; */
    background-color: white;
    margin: 0px;
}